<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chainsaw Man - Manga</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="../../css/manga.css">
    <!--icon de la pagina-->
    <link rel="website icon" type="png" href="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg">
    <!--ICONS DE LA PAGINA-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-------------------------------------------------------------------------------------------->
</head>
<body>
<!------------------------------------Navbar------------------------------->
<nav class="navbar navbar-expand-lg" style="background-color: cornsilk;">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link" href="../biblioteca.html">Biblioteca</a>
          </li>
        </ul>
        <div class="d-flex">
          <i class='bx bx-user' style='font-size: 30px; color:black; margin-right: 15px;'></i>
        </div>
      </div>
    </div>
  </nav>

    <div class="container">
        <img src="../../img/Chainsaw-Man-banner.jpg" alt="Descripción de la imagen">
            <div>
                <div class="title">
                    <h1>Chainsaw Man</h1>
                    <h5>Tatsuki Fujimoto</h5>
                </div>
                
                <p class="siposis">Cuando su padre murió, Denji se vio obligado a saldar una gran deuda y no había forma de pagarla. Pero gracias a la ayuda de un Demonio Perro que salvó llamado Pochita, Denji es capaz de sobrevivir convirtiéndose en un Cazador de demonios a sueldo, haciendo trabajos para los Yakuza. Los poderes motosierra de Pochita son útiles contra estos poderosos demonios. Y cuando Denji termina siendo asesinado por un demonio, Pochita se sacrifica para revivirlo. Pero ahora Denji ha renacido como una especie de extraño híbrido Demonio-Humano. ¡Ahora es Chainsaw Man! Después de su transformación, es reclutado rápidamente y obligado a unirse a los Cazadores de Demonios de Seguridad Pública bajo amenaza de exterminio ya que técnicamente es un Demonio. Ahora que vive cómodamente por primera vez en su vida, Denji lucha por determinar sus sueños y establecer relaciones significativas mientras mata demonios y trabaja junto a otros excéntricos cazadores.
                </p>
            </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- Capítulo 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Capítulo #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <a href=""></a>
               <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap1/1.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/2.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/3.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/4.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/5.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/6.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/7.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/8.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/9.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/20.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/21.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/22.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/23.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/24.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/25.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/26.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/27.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/28.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/29.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/30.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/31.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/32.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/33.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/34.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/35.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/36.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/37.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/38.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/39.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/40.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/41.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/42.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/43.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/44.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/45.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/46.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/47.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/48.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/49.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/50.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/51.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/52.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap1/53.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Capítulo #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap2/1.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/2.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/3.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/4.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/5.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/6.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/7.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/8.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/9.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/20.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/21.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/22.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/23.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/24.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap2/25.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Capítulo #3
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap3/01.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/20.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/21.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/22.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap3/23.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 4 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Capítulo #4
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap4/01.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap4/19.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 5 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Capítulo #5
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap5/01.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap5/19.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 6 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Capítulo #6
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap6/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap6/20.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 7 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Capítulo #7
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a><!--conte de acordeon -->
                <div class="d-flex justify-content-between align-items-center">
                 <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                 </button>
                 <!-- Modal -->
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-fullscreen">
                   <div class="modal-content bg-black text-white">
                     <div class="modal-header border-0 d-flex justify-content-center position-relative">
                       <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                       <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body d-flex justify-content-center align-items-center">
                       <div class="cap text-center">
                         <img src="/img/cap/Chainsaw-Man/cap7/02.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/03.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/04.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/05.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/06.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/07.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/08.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/09.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/10.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/11.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/12.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/13.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/14.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/15.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/16.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/17.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/18.png" class="img-fluid" alt="">
                         <img src="/img/cap/Chainsaw-Man/cap7/19.png" class="img-fluid" alt="">
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 8 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              Capítulo #8
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap8/1.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/2.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/3.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/4.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/5.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/6.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/7.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/8.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/9.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap8/17.png" class="img-fluid" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 9 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              Capítulo #9
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap9/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap9/20.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                Capítulo #10
              </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href=""></a>
                <!--conte de acordeon -->
               <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Canción de los Caminantes Nocturnos</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Canción de los Caminantes Nocturnos</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                      <div class="cap text-center">
                        <img src="/img/cap/Chainsaw-Man/cap10/02.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/03.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/04.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/05.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/06.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/07.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/08.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/09.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/10.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/11.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/12.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/13.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/14.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/15.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/16.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/17.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/18.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/19.png" class="img-fluid" alt="">
                        <img src="/img/cap/Chainsaw-Man/cap10/20.png" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
      <br><br><br><br><br>
      <footer>
        <p>Repositorio de la pagina:</p>
        <a href="https://github.com/FabianMolinaa/Pagina_web.git"><i class='bx bxl-github'></i></a>
      </footer>
</body>
</html>