<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sousou no Frieren - Manga</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="../../css/manga.css">
    <!--icon de la pagina-->
    <link rel="website icon" type="png" href="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg">
    <!--ICONS DE LA PAGINA-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-------------------------------------------------------------------------------------------->
</head>
<body>
<!------------------------------------Navbar------------------------------->
<nav class="navbar navbar-expand-lg" style="background-color: cornsilk;">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html"><img src="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link" href="../biblioteca.html">Biblioteca</a>
          </li>
        </ul>
        <div class="d-flex">
          <i class='bx bx-user' style='font-size: 30px; color:black; margin-right: 15px;'></i>
        </div>
      </div>
    </div>
  </nav>

    <div class="container">
        <img src="../../img/sousou-no-frieren-banner.png" alt="Descripción de la imagen">
            <div>
                <div class="title">
                    <h1>Sousou no Frieren</h1>
                    <h5>Kanehito Yamada</h5>
                </div>
                
                <p class="siposis">Frieren es un miembro del grupo de héroes que derrotó al rey demonio. Tanto una maga como una elfo, esas son las cosas que la hacen diferente de los otros miembros. Siendo capaz de vivir más que los demás...              
                </p>
            </div>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <!-- Capítulo 1 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Capítulo #1
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <a href=""></a>
              <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x20.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x21.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x22.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x23.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x24.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x25.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x26.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x27.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x28.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x29.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x30.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x31.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x32.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x33.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x34.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 1/x35.jpg" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Capítulo 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Capítulo #2
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/20.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/21.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/22.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/23.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/24.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/25.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/26.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/27.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/28.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/29.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/30.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/31.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/32.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/33.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 2/34.jpg" alt="">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Capítulo #3
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/20.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/21.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/22.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/23.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/24.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/25.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/26.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/27.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/28.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/29.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/30.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/31.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/32.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/33.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 3/34.jpg" alt="">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 4 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Capítulo #4
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 4/18.jpg" alt="">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 5 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Capítulo #5
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 5/C20.jpg" alt="">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 6 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Capítulo #6
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 6/g18.jpg" alt="">
 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 7 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Capítulo #7
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x20.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 7/x21.jpg" alt="">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 8 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              Capítulo #8
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 8/x18.jpg" alt="">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <!-- Capítulo 9 -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              Capítulo #9
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 9/b19.jpg" alt="">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                Capítulo #10
              </button>
            </h2>
            <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <a href=""></a>
                <!-- Contenido del acordeón -->
              <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Te esta saliendo mucha</h6>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal8">
                  <i class='bx bx-play' style='color:#ffffff; font-size: 32px;'></i>
                </button>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel8" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                  <div class="modal-content bg-black text-white">
                    <div class="modal-header border-0 d-flex justify-content-center position-relative">
                      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Te esta saliendo mucha</h1>
                      <button type="button" class="btn-close btn-close-white position-absolute end-0" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-center align-items-center">
                        <div class="cap text-center">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B1.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B2.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B3.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B4.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B5.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B6.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B7.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B8.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B9.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B10.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B11.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B12.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B13.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B14.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B15.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B16.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B17.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B18.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B19.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B20.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B21.jpg" alt="">
                          <img src="/img/cap/sousou-no-frieren/Capitulo 10/B22.jpg" alt="">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <br><br><br><br><br>
      <footer>
        <p>Repositorio de la pagina:</p>
        <a href="https://github.com/FabianMolinaa/Pagina_web.git"><i class='bx bxl-github'></i></a>
      </footer>
</body>
</html>