<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Manga</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <!--icon de la pagina-->
    <link rel="website icon" type="png" href="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg">
    <!--ICONS DE LA PAGINA-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<!-------------------------------------------------------------------------------------------->
</head>
<body>
<!------------------------------------Navbar------------------------------->
<nav class="navbar navbar-expand-lg" style="background-color: #afafaf;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/6/60/XVideos_logo.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item" style="margin-right: 50px;">
            <a class="nav-link" href="{% url 'biblioteca' %}">Biblioteca</a>
          </li>
          <li>
            <a href="login.html">    <button>Iniciar sesion</button></a>
            <a href="register.html">  <button>registrarse </button></a>
          </li>
        </ul>
        <div class="d-flex">
          <i class='bx bx-user' style='font-size: 30px; color:black; margin-right: 15px;'></i>
        </div>
      </div>
    </div>
  </nav>
  <!-- carousel de Recomendaciones-->
  <div class="carousel">
    <!-- list item -->
    <div class="list">
        <div class="item">
            <img src="{% static 'img/black-clover-banner.jpg' %}">
            <div class="content">
                <div class="topic">Recomendacion</div>
                <div class="title">Black Clover</div>
                <div class="author">Yūki Tabata</div>
                <div class="des">
                    <!-- lorem 50 -->
                    En una iglesia ubicada en una aldea remota del Reino Trébol, viven Asta y Yuno, quienes han sido amigos desde que fueron abandonados de bebés en ese lugar. Yuno posee un enorme poder mágico y es muy hábil para lanzar hechizos; en contraste, Asta nunca ha podido usar magia. En un mundo donde eres juzgado según tu procedencia y poder mágico, Asta busca demostrar que cualquiera puede convertirse en alguien asombroso. Esta es su resolución: convertirse en el Rey Mago. Inspirado por él, Yuno se propone lo mismo.                </div>
                <div class="buttons">
                    <a href="{% url 'black_clover' %}"><button>LEER</button></a>
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/sousou-no-frieren-banner.png' %}">
            <div class="content">
              <div class="topic">Recomendacion</div>
              <div class="title">Sousou no Frieren</div>
              <div class="author">Kanehito Yamada</div>
                <div class="des">
                    Frieren es un miembro del grupo de héroes que derrotó al rey demonio. Tanto una maga como una elfo, esas son las cosas que la hacen diferente de los otros miembros. Siendo capaz de vivir más que los demás...                
                </div>
                <div class="buttons">
                    <a href="{% url 'sousou' %}"><button>LEER</button></a>
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src=" {% static 'img/spyxfamily-banner.jpg' %}">
            <div class="content">
              <div class="topic">Recomendacion</div>
              <div class="title">SPY×FAMILY</div>
              <div class="author">LUNDEV</div>
                <div class="des">
                    El espía profesional conocido como "Twilight" ha realizado misiones en cubierto durante muchos años, con la finalidad de conseguir un mundo mejor. Pero un día, él recibe un particular y difícil encargo por parte de sus superiores. Para esta misión, ¡¿tiene que formar una familia temporal y comenzar una nueva vida?! Una comedia de acción y espías sobre una familia como ninguna otra.                </div>
                <div class="buttons">
                    <a href="{% url 'spyxfamily' %}"><button>LEER</button></a>
                    
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/Yofukashi-no-Uta-banner.jpg' %}">
            <div class="content">
              <div class="topic">Recomendacion</div>
              <div class="title">Yofukashi no Uta</div>
              <div class="author">Kotoyama</div>
                <div class="des">
                    Incapaz de dormir o encontrar satisfacción en su vida diaria, Yamori Kou comienza a explorar la ciudad por la noche, donde conoce a una extraña chica que le ofrece ayudarle con su insomnio durmiendo a su lado.                </div>
                <div class="buttons">
                    <a href="{% url 'yofukashi' %}"><button>LEER</button></a>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- list -->
    <div class="thumbnail">
        <div class="item">
            <img src="{% static 'img/black-clover-banner.jpg' %}" >
            <div class="content">
                <div class="title">
                    Black Clover 
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/sousou-no-frieren-banner.png'%}">
            <div class="content">
                <div class="title">
                    Sousou no Frieren
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/spyxfamily-banner.jpg' %}">
            <div class="content">
                <div class="title">
                    SPY×FAMILY
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'img/Yofukashi-no-Uta-banner.jpg' %}">
            <div class="content">
                <div class="title">
                    Yofukashi no Uta
                </div>
            </div>
        </div>
    </div>
    <!-- next prev -->

    <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
    </div>
    <!-- time running -->
    <div class="time"></div>
    
</div> 
<br><br><br><br><br>
<!--Carrusel de animes-->
<header>
    <h2 style="color: white;">¡Adaptación al anime!</h2>
</header>
    <!-- Primera Galería -->
    <div class="gallery-wrap">
        <i class='bx bx-left-arrow-alt' style='color:#ffffff' id="back1"></i>
        <div class="gallery" id="gallery1">
            <div>
                <span><a href="{% url 'yofukashi' %}"><img src="{% static 'img/Yofukashi-no-Uta-banner.jpg' %}" alt="Yofukashi no Uta"></a></span>
                <span><a href="{% url 'blue_lock' %}"><img src="{% static 'img/blue-lock-banner.png'%}" alt="Blue Lock"></a></span>
                <span><a href="{% url 'spyxfamily' %}"><img src="{% static 'img/spyxfamily-banner.jpg'%}" alt="Spy x Family"></a></span>
                <span><a href="{% url 'jujutsu_kaisen' %}"><img src="{% static 'img/Jujutsu-Kaisen-banner.jpg'%}" alt="Jujutsu Kaisen"></a></span>
            </div>
            <div>
                <span><a href="{% url 'akuyaku' %}"><img src="{% static 'img/Akuyaku-Reijou-level-99-banner.jpg'%}" alt="Akuyaku Reijou level 99"></a></span>
                <span><a href="{% url 'black_clover' %}"><img src="{% static 'img/black-clover-banner.jpg'%}" alt="Black Clover"></a></span>
                <span><a href="{% url 'chainsaw_man' %}"><img src="{% static 'img/Chainsaw-Man-banner.jpg'%}" alt="Chainsaw Man"></a></span>
                <span><a href="{% url 'sousou' %}"><img src="{% static 'img/sousou-no-frieren-banner.png'%}" alt="Sousou no Frieren"></a></span>
            </div>
        </div>
        <i class='bx bx-right-arrow-alt' style='color:#ffffff' id="next1"></i>
    </div>

    <header>
        <h2 style="color: white;">Actualmente en serialización!</h2>
    </header>
    <!-- segunda Galería -->
    <div class="gallery-wrap">
        <i class='bx bx-left-arrow-alt' style='color:#ffffff' id="back1"></i>
        <div class="gallery" id="gallery2">
            <div>
                <span><a href="{% url 'sousou' %}"><img src="{% static 'img/sousou-no-frieren-banner.png' %}" alt="Sousou no Frieren"></a></span>
                <span><a href="{% url 'blue_lock' %}"><img src="{% static 'img/blue-lock-banner.png' %}" alt="Blue Lock"></a></span>
                <span><a href="{% url 'spyxfamily' %}"><img src="{% static 'img/spyxfamily-banner.jpg' %}" alt="Spy x Family"></a></span>
                <span><a href="{% url 'akuyaku' %}"><img src="{% static 'img/Akuyaku-Reijou-level-99-banner.jpg' %}" alt="Akuyaku Reijou level 99"></a></span>
            </div>
            <div>
                <span><a href="{% url 'black_clover' %}"><img src="{% static 'img/black-clover-banner.jpg' %}" alt="Black Clover"></a></span>
                <span><a href="{% url 'jujutsu_kaisen' %}"><img src="{% static 'img/Jujutsu-Kaisen-banner.jpg' %}" alt="Jujutsu Kaisen"></a></span>
                <span><a href="{% url 'chainsaw_man' %}"><img src="{% static 'img/Chainsaw-Man-banner.jpg' %}" alt="Chainsaw Man"></a></span>
            </div>
        </div>
        <i class='bx bx-right-arrow-alt' style='color:#ffffff' id="next1"></i>
    </div>
    <br>
    <footer>
        <p>Repositorio de la pagina:</p>
        <a href="https://github.com/FabianMolinaa/Pagina.git"><i class='bx bxl-github'></i></a>
    </footer>
   <script src="{% static 'js/index.js' %}"></script>
</body>
</html>