/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.register-container, .login-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  }
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:  20px;
}
.btn:hover {
  background-color: #ff4d3b;
}
